<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/index.min.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <h3 class="team">THE BEST TEAM:</h3>
        <p>
          <i><b>Cristina Irina:</b>Team Lider</i>
        </p>
        <p>
          <i><b>Alexandru Stan: </b>Scrum Master</i>
        </p>
        <p>
          <i><b>Berja Florin:</b> Member</i>
        </p>
        <p>
          <i><b>Amariutei Costel:</b>Member</i>
        </p>
        <p>
          <i><b>Mihail Michael:</b>Member</i>
        </p>
      </div>
    </div>
    <div class="footer-modal">
      <p>
        © 2023 | All Rights Reserved | Developed with
        <svg width="14" height="12.88">
          <use href="../svg/gobal-svg.svg#icon-Group-3"></use>
        </svg>
        by
        <span class="footer-modal_students">GoIT Students</span>
      </p>
    </div>

    <script src="../js/footer-modal.js"></script>
  </body>
</html>
