<div class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <h3 class="team">THE BEST TEAM:</h3>
    <p>
      <i><b>Cristina Irina:</b>Team Lider</i>
    </p>
    <p>
      <i><b>Alexandru Stan: </b>Scrum Master</i>
    </p>
    <p>
      <i><b>Berja Florin:</b> Member</i>
    </p>
    <p>
      <i><b>Amariutei Costel:</b>Member</i>
    </p>
    <p>
      <i><b>Mihail Michael:</b>Member</i>
    </p>
  </div>
</div>
<footer class="footer-modal">
  <div class="container">
    <p>
      © 2023 | All Rights Reserved | Developed with
      <svg width="14" height="12.88" class="heart-icon">
        <use href="./images/icons/sprite.svg#icon-Group-3"></use>
      </svg>
      by
      <span class="footer-modal_students">GoIT Students</span>
    </p>
  </div>
</footer>
